.container {
	font-size: inherit;
	user-select: none;

	span {
		vertical-align: middle;
		display: inline-block;
		color: var(--color-text-hint);
		background-color: var(--background-container-2);
	}
}