.content {
	white-space: nowrap;
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
	color: inherit;
}

.color {
	display: inline-block;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	height: 11.2px;
	vertical-align: baseline;
	margin-right: 5px;
}