.card {
	padding: 18px;
	border-radius: var(--border-radius);
	box-shadow:
		0 4px 6px rgba(0, 0, 0, 0.06),
		inset 0 0 0 var(--border-width) var(--border-color-non-alpha),
		inset 0 0 0 7.5px var(--background-container-1-non-alpha);
	display: flex;
	flex-direction: column;
	min-width: 0;
	background-color: var(--background-container-0);
	transition: background-color 120ms;
	position: relative;

	&:before {
		content: "";
		inset: 0;
		position: absolute;
		z-index: -1;
		background-color: white;
		border-radius: inherit;
	}

	&:hover {
		text-decoration: none;
		background-color: var(--background-hover);
	}

	&:active {
		background-color: var(--background-active);
	}
}

.sliderContainer {
	margin-bottom: 7px;
	width: 100%;
	height: fit-content;
	position: relative;
	border-radius: 8px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.slider {
	border-radius: inherit;
	width: 100%;
	height: fit-content;

	:global(.swiper-slide) {
		div[data-smooth-image] {
			user-select: none;
			width: 100%;
			height: fit-content;
			aspect-ratio: 10 / 11;
			pointer-events: none;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;

			img {
				object-fit: cover;
				object-position: center;
			}
		}
	}
}

.dots {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

.dot {
	flex-shrink: 0;
	height: 7px;
	width: 7px;
	border-radius: 50px;
	background-color: var(--background-dot);

	&[data-active] {
		background-color: var(--color-text);
	}
}

.name {
	margin-top: 7px;
	font-size: 20px;
	font-weight: 600;
}

.tags span {
	font-size: 13.6px;
	padding: 3.2px 6.5px;
	border-radius: 6px;
}

.shortDescription {
	margin-top: 10px;
	flex: 1;
	font-size: var(--font-size-hint);
	color: var(--color-text-hint);
}

.minPrice {
	margin-top: 10px;
	text-align: right;
	color: #0bb02c;
	font-weight: 700;
	font-size: var(--font-size-hint);

	b {
		font-size: 21.5px;
		font-weight: 600;
		color: inherit;
	}
}

@media (width < 1400px) {
	.name {
		font-size: 17.5px;
	}

	.tags span {
		font-size: 13.1px;
		padding: 2.8px 6.2px;
		border-radius: 6px;
	}

	.minPrice {
		b {
			font-size: 20px;
		}
	}
}