* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-style: var(--font-style);
	font-size: var(--font-size);
	color: var(--color-text);
	line-height: var(--line-height);
	outline: none;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

html {
	scroll-behavior: smooth;
	background-color: white;
}

span {
	color: inherit;
	text-decoration: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
}

//img {
//	background-color: var(--color-sceleton);
//}

::selection {
	color: var(--color-text-selection);
	background: var(--bg-selection);
}

img {
	vertical-align: bottom;
	user-select: none;
	pointer-events: none;
}

h1 {
	color: var(--color-text-title);
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-title);
}

h2 {
	color: black;
	font-size: 28px;
	font-weight: 600;
}

h3 {
	color: black;
	font-size: 18px;
	font-weight: 600;
}

a {
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	cursor: pointer;
	color: var(--color-primary);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		text-decoration: none;
	}
}

button, a[data-role=btn] {
	text-decoration: none;
	user-select: none;
	background-color: black;
	color: white;
	border: none;
	padding: 15px 26px;
	border-radius: 100px;
	font-weight: 600;
	cursor: pointer;
	transition: opacity 120ms;

	p {
		font-weight: inherit;
		font-size: inherit;
		font-style: inherit;
		color: inherit;
	}

	svg {
		overflow: visible;
		stroke: #efefef;
		fill: #efefef;
		flex-shrink: 0;
		height: 14.5px;
		width: 14.5px;
	}

	&:hover, &:active {
		text-decoration: none;
		opacity: 0.79;
	}

	&[data-style=secondary] {
		transition: background-color 120ms;
		background-color: rgba(58, 61, 91, 0.08);
		color: var(--color-text-hint);
		font-weight: 700;

		svg {
			stroke: #a3a5b0;
			fill: #a3a5b0;
		}

		&:hover, &:active {
			opacity: 1;
			background-color: rgba(41, 43, 63, 0.115);
		}
	}
}

hr {
	height: 0;
	border: none;
	border-bottom: calc(var(--border-width) * 1.2) solid var(--border-color);
}

div[data-smooth-image] {
	display: inline-block;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;

	img {
		border-radius: inherit;
		height: 100%;
		width: 100%;
	}
}

.grecaptcha-badge {
	visibility: hidden !important;
	pointer-events: none !important;
}

@media (width < 900px) {
	button, a[data-role=btn] {
		padding: 13px 24px;
		font-size: 15.8px;
	}
}