.content {
	color: #7293af;

	svg {
		fill: #7293af;
		stroke: #7293af;
		stroke-width: 3px;
		overflow: visible;
		display: inline-block;
		vertical-align: center;
		height: 11.5px;
		width: 11.5px;
		margin-left: 5px;
	}
}