.headerContainer {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 100;
	pointer-events: none;
}

.header {
	pointer-events: all;
	min-height: var(--height-header);
	width: 100%;
	box-shadow: 0 1px 0 0 transparent;
	transition: background-color var(--transition-delay-header-expansion), opacity 400ms;
	background-color: transparent;

	&[data-no-transition] {
		transition: background-color var(--transition-delay-header-expansion);
	}

	&[data-in-scroll] {
		opacity: 0;
		pointer-events: none;
	}

	&[data-expanded] {
		background-color: white;

		.mobileNavContainer {
			opacity: 1;
			grid-template-rows: 1fr;
		}
	}
}

.container {
	display: flex;
	align-items: center;
	gap: var(--indent-page);
	height: var(--height-header);
}

.logoContainer {
	display: flex;
	justify-content: flex-start;
	width: 220px;
}

.logo {
	user-select: none;
	display: flex;
	width: fit-content;
	gap: 10px;
	padding: 4px;
	align-items: center;
	justify-content: flex-start;
	svg {
		aspect-ratio: 1 / 1;
		height: 28px;
		fill: var(--color-text);
	}
	p {
		white-space: nowrap;
		font-size: 20px;
		font-weight: 700;
	}
	&:hover {
		text-decoration: none;
	}
}

.nav {
	flex: 1;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	//opacity: 0;
	.navItem {
		padding: 4px;
		color: var(--color-text-hint);
		white-space: nowrap;

		&:hover {
			text-decoration: none;
		}

		&[data-active] {
			color: var(--color-text);
			-webkit-text-stroke: 0.5px var(--color-text);
		}
	}
}

.contactsContainer {
	width: 220px;
	display: flex;
	justify-content: flex-end;
}

.contacts {
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 2px;
	align-items: flex-end;
	p {
		font-size: 17px;
		font-weight: 700;
	}
	span {
		color: var(--color-text-hint);
		font-size: var(--font-size-hint);
	}
}

.mobileNavMenuButton {
	display: none;
	flex-shrink: 0;
	cursor: pointer;
	border-radius: 50%;
	overflow: hidden;
	width: 45px;
	aspect-ratio: 1 / 1;
	transition: background-color 120ms;

	svg {
		fill: var(--color-text);
		stroke: var(--color-text);
		padding: 12px;
		stroke-width: 0.4px;
		overflow: visible;
	}

	&:hover {
		background-color: var(--background-hover);
	}
}

.backgroundFilter {
	transition: background-color var(--transition-delay-header-expansion);
	pointer-events: none;
	height: 100%;

	&[data-enabled] {
		background-color: rgba(0, 0, 0, 0.45);
		pointer-events: all;
	}
}

.mobileNavContainer {
	padding: 0 !important;
	opacity: 0;
	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;
	transition: grid-template-rows var(--transition-delay-header-expansion) ease-out, opacity var(--transition-delay-header-expansion);
}

.mobileNavWrapper {
	min-height: 0;
}

.mobileNav {
	min-height: 0;
	display: flex;
	user-select: none;
	flex-direction: column;
	height: fit-content;
	width: 100%;
	padding-bottom: 14px;

	.navItem {
		flex-shrink: 0;
		width: 100%;
		text-decoration: none;
		padding: 14px var(--indent-page);
		transition: background-color 150ms;
		background-color: transparent;
		text-align: center;
		color: var(--color-text-hint);

		&:hover {
			background-color: var(--background-hover);
		}
	}
}

.mobileContactsWrapper {
	padding: 0 var(--indent-page);
}

.mobileContacts {
	padding: 14px 0;
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: center;

	p {
		font-weight: 600;
		font-size: var(--font-size-hint);
	}
	span {
		color: var(--color-text-hint);
		font-size: var(--font-size-hint);
	}
}

@media (width < 900px) {
	.nav {
		display: none;
	}

	.logoContainer {
		flex: 1;
	}

	.mobileNavMenuButton {
		display: block;
	}

	.contactsContainer {
		display: none;
	}
}