.container {
	height: 340px;

	:global(.swiper) {
		height: 100%;
		border-radius: var(--border-radius);

		:global(.swiper-slide) {
			width: auto;
			border-radius: var(--border-radius);
			cursor: pointer;

			img {
				pointer-events: none;
				user-select: none;
				height: 100%;
				width: auto;
				border-radius: var(--border-radius);
			}
		}
	}
}

@media (width < 560px) {
	.container {
		height: 370px;
	}
}