.container {
	flex: 7;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
}

.name {
	font-size: 40px;
	display: inline-block;

	& > * {
		font-size: inherit !important;
	}

	h1 {
		display: inline;
	}
}

.tags span {
	font-size: 18px;
	padding: 6px 12px;
	border-radius: 10px;
}

.shortDescription {
	color: var(--color-text-hint);
	line-height: var(--line-height-paragraph);
}

.advantages {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.advantage {
	display: flex;
	align-items: flex-start;
	gap: 12px;

	svg {
		overflow: visible;
		width: 20px;
		height: 20px;
		stroke: var(--color-primary);
		stroke-width: 5px;
		fill: none;
	}
}

.minPriceWrapper {
	display: flex;
	gap: 16px;
	align-items: flex-end;
}

.oldMinPriceWrapper {
	display: flex;
	gap: 6px;
	align-items: center;
	margin-bottom: 2.5px;
}

.minPrice {
	font-size: 17.5px;
	color: var(--color-green);
	font-weight: 700;

	span {
		font-size: 28px;
		font-weight: 600;
	}
}

.oldMinPrice {
	//font-weight: 600;
	text-decoration: line-through;
	text-decoration-color: rgba(62, 64, 82, .3);
	font-size: 17.5px;
	color: rgba(62, 64, 82, .5);
}

.oldMinPriceBonus {
	font-size: 16.5px;
	color: var(--color-green);
}

.minPriceNote {
	margin-top: 2px;
	line-height: var(--line-height-paragraph);
	color: var(--color-green);
	font-size: var(--font-size-hint);
}

.meta {
	margin-top: 12px;
	display: flex;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
	row-gap: 10px;

	& > div {
		display: flex;
		gap: 6px;
		align-items: center;
		justify-content: center;
	}
}

.rateMeta {
	svg {
		margin-bottom: 1.2px;
		fill: var(--color-star);
		width: 18px;
		height: 18px;
	}
}

.orderMeta {
	span {
		color: var(--color-green);
	}
}

@keyframes availabilitySignalAnimation {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: scale(2.3);
	}
}

.availabilitySignal {
	flex-shrink: 0;
	background-color: var(--color-green);
	width: 8px;
	height: 8px;
	margin: 4.8px;
	border-radius: 50%;

	div {
		flex-shrink: 0;
		background-color: var(--color-green);
		width: 100%;
		height: 100%;
		border-radius: 50%;
		animation: availabilitySignalAnimation 1.8s ease infinite;
	}
}

@media (width < 900px) {
	.container {
		flex: 0;
		gap: 25px;
	}

	.meta {
		gap: 20px;
		row-gap: 8px;
	}

	.name {
		font-size: 30px;
	}

	.tags span {
		font-size: 16px;
		padding: 5px 10px;
		border-radius: 10px;
	}

	.advantage {
		svg {
			margin-top: 1px;
			width: 18px;
			height: 18px;
			stroke-width: 6px;
		}
	}
}

@media (width < 550px) {
	.minPriceWrapper {
		flex-direction: column;
		gap: 4px;
		align-items: flex-start;
	}
}