.container {
	flex: 7;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
}

.name {
	font-size: 40px;
}

.tags span {
	font-size: 18px;
	padding: 6px 12px;
	border-radius: 10px;
}

.shortDescription {
	color: var(--color-text-hint);
	line-height: var(--line-height-paragraph);
}

.advantages {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.advantage {
	display: flex;
	align-items: flex-start;
	gap: 12px;

	svg {
		overflow: visible;
		width: 20px;
		height: 20px;
		stroke: var(--color-primary);
		stroke-width: 5px;
		fill: none;
	}
}

.minPrice {
	font-size: 17.5px;
	color: #0bb02c;
	font-weight: 700;

	span {
		font-size: 28px;
		font-weight: 600;
	}
}

.minPriceNote {
	margin-top: 2px;
	line-height: var(--line-height-paragraph);
	color: #0bb02c;
	font-size: var(--font-size-hint);
}

@media (width < 900px) {
	.container {
		flex: 0;
	}

	.name {
		font-size: 30px;
	}

	.tags span {
		font-size: 16px;
		padding: 5px 10px;
		border-radius: 10px;
	}

	.advantage {
		svg {
			margin-top: 1px;
			width: 18px;
			height: 18px;
			stroke-width: 6px;
		}
	}
}