.content {
	display: inline;
	background-color: #dbeaf6;
	border-radius: 6px;
	padding: 1.5px 0;
	line-height: var(--line-height-important);
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
	color: inherit;

	& > b {
		font-weight: inherit;
		font-style: inherit;
		font-size: inherit;
		color: inherit;
		padding: 0 calc(var(--border-width) + 4px);
		box-decoration-break: clone;
	}
}